script.
      var _gaq=[['_setAccount','UA-44959535-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
script(type='text/javascript' src='https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.js')
script(type='text/javascript', src='/lib/underscore/underscore-min.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='https://code.angularjs.org/1.6.6/angular.js')
script(type='text/javascript', src='https://code.angularjs.org/1.6.6/angular-resource.js')
script(type='text/javascript', src="https://code.angularjs.org/1.6.6/angular-route.js")
script(type='text/javascript', src='https://code.angularjs.org/1.6.6/angular-cookies.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/intro.js/intro.js')

script(type='text/javascript', src='/lib/angular-sanitize/angular-sanitize.js')
script(type='text/javascript', src='https://cdn.firebase.com/js/client/2.1.2/firebase.js')
script(type='text/javascript', src='https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js')

//notification
script(type='text/javascript' src='lib/angular-animate/angular-animate.js')
script(type='text/javascript' src='lib/angular-notification-icons/dist/angular-notification-icons.min.js')


//Application Init
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/emoji.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/socket.js')
script(type='text/javascript', src='/js/services/game.js')
script(type='text/javascript', src='/js/services/token.js')
script(type='text/javascript', src='/js/services/auth.js')
script(type='text/javascript', src='/js/services/userSearch.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/game.js')
script(type='text/javascript', src='/js/controllers/chat.js')
script(type='text/javascript', src='/js/init.js')

//Socket.io Client Library
script(type='text/javascript', src='/socket.io/socket.io.js')

//Livereload script rendered
//script(type='text/javascript', src='http://localhost:35729/livereload.js')
