<div class="chat-container" >
    <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1">
        <div class="col-xs-12 col-md-12">
        	<div class="panel panel-default chat-wrapper">
                <div class="panel-heading top-bar chat-header">
                
                    <div class="col-md-12 col-xs-12 notification-header" ng-mouseover="reduceNotificationCount()">
                        
                                <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> CFH Chat </h3>
                     
                                <span aria-hidden="true" id="close-chat">&times;</span>
                                <span class="badge animated bounce" ng-show="showNotification()">{{notificationCount}}</span>
                 
                    </div>
               
                </div>
                
                <div class="chat-body">
                    <div id="message-cont">
                        <div ng-repeat="message in groupChats" class="row msg_container base_receive">
                            <div class="col-md-10 col-xs-10">
                                <div class="messages msg_receive">
                                    <div>
                                        <p>
                                            <span style="font-weight: bold; color:blue;">{{message.postedBy}}:</span>
                                            {{message.message}}
                                        </p>               
                                        <time>{{message.postedOn}}</time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    

                    <form ng-submit="addChat()">
                        <div class="form-group" id="chat-form">
                        <input type="text" ng-model="groupChat" class="form-control" id="emojionearea1" placeholder="Enter your message">
                        </div>
                    </form> 
                </div>

    		</div>
        </div>
    </div>

<script>
    $(document).ready(() => {
        $('#emojionearea1').emojioneArea({
            hideSource: true,
            pickerPosition: 'top',
            tonesStyle: 'bullet',
            events: {
            keyup (editor, event) {
                if (event.which === 13) {
                    console.log(this.getText())
                angular.element('#app-container').scope().addChat(this.getText());
                this.setText('');
                }
            }
        }
    });

    const element = document.getElementById('message-cont');
    if (element) {
      setTimeout(() => {
        element.scrollTop = element.scrollHeight;
      }, 100);
    }

    $('body').on('click', '#close-chat', () => {
    $('.chat-body').slideToggle();
  });

});

</script>
