<script type="text/javascript">
  $(document).ready(function() {

    var ChroMo = '(Chrome)/(\d+)\.(\d+)\.(\d+)\.(\d+) Mobile';

    if (/Android|webOS|CriOs|ChroMo|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) === false && location.href !== "http://localhost:3000/#!/app") {
      $('body').append('<a href="http://hackreactor.com"><img style="z-index: 10000; position: absolute; top: 0; right: 0; width: 125px; height: 125px; border: 0;" src="http://i.imgur.com/x86kKmF.png" alt="Built at Hack Reactor"></a>');
    }

    //Twitter buttons
    !function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');

  });

</script>

<script></script>

<div id="main-bod" ng-controller="IndexController">

  <!-- Nav and Landing Start -->
  <section id="top-part" class="landing">
    <!-- Fixed Logo & Menu Bar Start -->
    <div class="wpb-top-bar">
      <div>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="#"><img src="/img/logo.png" alt="logo" ></a>

            </div>

            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#homer" onClick="scroll(0,0);">Home</a></li>
                <li><a href="#how-to" onClick="scroll(0,1250)">How to Play</a></li>
                <li><a href="#donate" onClick="scroll(0,2070);">Charity</a></li>
                <li><a href="#about" onClick="scroll(0,2940);">About Us</a></li>
                <li ng-show="showOptions()"><a href="#!/signup">Sign Up</a></li>
                <li ng-show="showOptions()"><a href="#!/signin">Sign In</a></li>
                <li ng-hide="showOptions()"><a href="#!/dashboard">Dashboard</a></li>
                <li ng-hide="showOptions()"><a href="#" ng-click="signOut()">Sign Out</a></li>
              </ul>
            </div>

          </div>
        </nav>
      </div>
    </div>
    <!-- Fixed Logo & Menu Bar End -->

    <!-- Landing Start -->
    <div class="container" id="homer">
      <div id="main-text">
        <div class="col-md-6 text-center" style="color:white">
          <span class="cards">CARDS</span><br>
          <div class="sub-text-div">
            <span class="for"><i>for </i></span>
            <span class="humanity">Humanity</span>
          </div>
          <div>
            <span class="sub-text">
              A GAME FOR HORRIBLE PEOPLE
              DESPERATELY TRYING TO DO GOOD
            </span>
          </div>
          <div>
            <img src="/img/card-samples.png" alt="Team Member" class="card-samples">
          </div>
        </div>
        <div class="text-center">
          <span ng-show="showOptions()">
            <div class="landing-btn-div">
              <a href="#!/signup" type="button" class="btn signup-btn">SIGN UP</a>
                  <a href="#!/app" type="button" class="btn guest-btn">PLAY AS A GUEST</a>
            </div>
          </span>
          <span ng-hide="showOptions()">
              <a href="#!/app?custom" type="button" class="btn signup-btn">Play with Friends </a>
              <a href="#!/app" type="button" class="btn guest-btn">Play with Strangers</a>
         </span>
        </div>
      </div>
    </div>
    <!-- Landing End -->
  </section>
  <!-- Nav and Landing End -->


  <!-- Teaser Text Start -->
  <section class="teaser-section text-center section-spec">
    <h1 class="teaser-heading header-text">What is Cards for Humanity?</h1>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center" style="color:white">
          <p>
            Cards for Humanity is a fast-paced online version of the popular card game,
            <a href="http://cardsagainsthumanity.com/" target="_blank"><span class="cah">Cards
              Against Humanity</span></a>, that gives you the opportunity to donate to children in need - all
            while remaining as despicable and awkward as you naturally are.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Teaser Text End -->

  <!-- How to play Start -->
  <section class="how-to-play-section section-spec" id="how-to">
    <h1 class="teaser-heading text-center black-font header-text">How to Play</h1>

    <div class="container">
      <div class="flex-row row text-center">

        <div class="col-xs-12 col-sm-6 col-md-3 how-to">
          <div class="thumbnail">
            <p class="how-to-num">I</p>
            <p class="how-to-desc">
              Each player begins with, and will always have, 10 white answer cards
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 how-to">
          <div class="thumbnail">
            <p class="how-to-num">II</p>
            <p class="how-to-desc">
              For each round, one player is randomly chosen as the Card Czar
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 how-to">
          <div class="thumbnail">
            <p class="how-to-num">III</p>
            <p class="how-to-desc">
              Everyone else answers the black question card by clicking on the answer card they want to use
            </p>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3 how-to">
          <div class="thumbnail">
            <p class="how-to-num">IV</p>
            <p class="how-to-desc">
              The Card Czar then picks a favorite answer, and whoever played that answer wins the round
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- How to play End -->


  <!-- Donate to Charity Start -->
  <section class="teaser-section text-center section-spec" id="donate">
    <h1 class="teaser-heading header-text">Donate to Charity</h1>
    <span class="charity">"If you don't give back, no one will like you™" - crowdrise.com</span>

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center" style="color:white">
          <p>
            We're quite sure you feel the same way, so we've integrated donation widgets (via crowdrise.com), along with some not-so-subtle
            reminders throughout the game to give you the opportunity to donate. If you're signed in when you donate, we'll
            even upgrade your account and place a crown on your avatar's head (to remind other players how much better you
            are than them). All donations go to the Make-a-Wish Foundation and benefit children in need.
          </p>
        </div>
      </div>
      <div class="make-a-wish">
        <a href="http://www.wish.org"><img src="img/make-a-wish-logo.png"/></a>
        <a href="http://www.crowdrise.com/cfhio/fundraiser/cards4humanity" type="button" class="btn signup-btn donate">DONATE NOW</a>
      </div>
    </div>
  </section>
  <!-- Donate to Charity End -->

  <!-- About Us Start -->
  <section class="how-to-play-section section-spec" id="about">
    <h1 class="teaser-heading text-center black-font header-text">The Team</h1>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
          <p class="team">
            Created by Team Gryffindor, Andela Cohort 29 as an open source contribution to the orginal <a href="https://cfh.io"><span class="cah">CFH</span></a>            game
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us End -->

  <!-- Footer Start -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10">
          <p>
            <span>Legal:</span> This game is based on the Cards Against Humanity card game, which is CC licensed (BY-NC-SA).
            Cards for Humanity is not affiliated with Cards Against Humanity. In complying with the Creative Commons license
            of the Cards Against Humanity card game, all proceeds from donations go directly to charity, as managed by crowdrise.
          </p>
        </div>
        <div class="col-xs-2 policy-div">
          <div class="github-logo-div">
            <img src="/img/github.png" class="github-logo">
          </div>
          <a href="/#!/privacy"><span class="privacy-policy cah">Privacy Policy</span></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->
</div>