<div id="main-bod">
  <!-- Fixed Logo & Menu Bar Start -->
  <div class="wpb-top-bar">
    <div>
      <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#3E7293">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#"><img src="/img/logo.png" alt="logo" ></a>
          </div>

          <!-- Collection of nav links and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" onClick="scroll(0,0);">Home</a></li>
              <li><a href="#!/signin">Sign In</a></li>

            </ul>
          </div>

        </div>
      </nav>
    </div>
  </div>
  <!-- Fixed Logo & Menu Bar End -->

  <!-- Landing Start -->
  <div class="background-opacity"></div>

  <!-- Teaser Text Start -->
  <div class="container">
    <div id="loginbox" style="margin-top:80px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">SIGN UP</div>
          <p class="panel-title">create a username/password and select an avatar:</p>

        </div>

        <div style="padding-top:30px" class="panel-body" ng-controller="IndexController">

          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

          <form class="signup form-horizontal" name="signupForm" ng-submit="signUp(signupForm.$valid)">
            <div style="margin-bottom: 25px" class="input-group">
              <label for=“name” class=“control-label”></label>
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input class="form-control" id="name" type="text" name="username" ng-model="username" placeholder="Full name" required />
            </div>
            <div style="margin-bottom: 25px" class="input-group">
              <label for=“email” class=“email”></label>
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input class="form-control" id="email" type="email" name="email" placeholder="Email" ng-model="email" required />
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <label for=“password” class=“control-label”></label>
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input class="form-control" id="password" type="password" name="password" ng-model="password" placeholder="Password" required
              />
            </div>

            <span ng-show="showError()" class="error">
              {{ errorMessage }}
            </span>
            <div id="contain-avatars">
              <ul ng-controller="IndexController" class="avatar-list">
                <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                  <input name="avatar" type='radio' value="{{$index}}">
                  <img ng-src="{{avatar}}">
                  </input>
                </li>
              </ul>
            </div>
            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls btn-style">
                <button id="sign-up-btn-other" type="submit" ng-click="signUp()">Sign Up</button>


              </div>
            </div>
            <div class="form-group">
              <h3 id="slogan">OR</h3>

              <hr/>
              <h3 id="slogan">Sign Up with:</h3>
              <div id="login-buttons">
                <a href="/auth/facebook"><img class="login-item" src="/img/icons/facebook.png"></a>
                <a href="/auth/github"><img class="login-item" src="/img/icons/github.png"></a>
                <a href="/auth/twitter"><img class="login-item" src="/img/icons/twitter.png"></a>
                <a href="/auth/google"><img class="login-item" src="/img/icons/google.png"></a>
              </div>
            </div>
        </div>
        </form>



      </div>
    </div>
  </div>

</div>
</div>
